{% extends "blog/base.html" %}

{% block content %}
    <script src="https://use.fontawesome.com/5ee8efa01f.js"></script>
    {% for about in about %}
        <h1>About Page</h1>
        <h5>{{ about.name }}</h5>
        <p>
            </br>
            <em> Collaboration, Development, Design, Freelance, and blogging.</em>
        </p>
        <row>
        <div>
        <!-- need to add an admin functionality to change this: -->
        <img class="rounded-circle account-img" src="{{ about.image.url }}">
        <h5><b>About Bitbrane: </b></h5>
        <p>
            {{ about.about }}
        </p>
        <h6>To learn more about projects done by the developers, artists, and freelance content designers: <a id="general-buttons" class="nav-item nav-link"  style='font-weight: bold'  href="{% url 'project' %}">Portfolio</a></h6>
    {% endfor %}
</div>
<h5><b>Social Media</b></h5>
<row>
&nbsp;<a href="#">
    <i class="fa fa-twitter fa-2x" aria-hidden="true">
    </i>
</a>
&nbsp;<a href="https://www.youtube.com/channel/UCqBmGk8Wanpl94K-XsF9vjw?view_as=subscriber">
    <i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i>
</a>
&nbsp;<a href="instagram.com">
    <i class="fa fa-instagram fa-2x" aria-hidden='true'></i>
</a>
&nbsp;<a href="https://www.linkedin.com/in/mej1323/">
    <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
</a>
</row>

{% endblock content %}
