
{% extends "blog/base.html"%}
{% block content %}
    <h1>About Page</h1> 
    <p>Welcome to BitBrane.com, 
        where people can bring in their products and services and generate a profit by creating an E-commerce website for free.
        The future is yours.
        It has never been easier to implement a full scale online store.
        Just sign up,
        and you will be the first in becoming part of this new Industry.
        In difficult times we must physically distance ourselves, but not from your products and services.
        
    </p>
{% endblock content %}
