{% extends "blog/base.html" %}

{% block content %}
<h1 class="fw-bold">Projects</h1>
<div class="container-fluid">
    <div class="row">
        {% for project in projects %}
            <div class="col-md-12">
                <div class="card mb-2">
                    <img class="card-img-top" src="{{ project.author.profile.image.url }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.title}}</h5>
                        <p class="card-text">{{ project.description }}</p>
                        <a href="{% url 'project-detail' project.pk %}"
                           class="btn btn-primary">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
</div>
{% endblock content%}
